 /* popin-font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/*Common Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxadd;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    
}
p{
    font-weight:400;
    color: #6C6C6C;
}
h1{
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 24px;
    font-weight: bold 700;
}


/* Top-banner */
.banner{
    background-color: #2d25a0;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 85px 150px;
}
.half-width{
    width:40%;
    align-items: center;
}
.half-width h1{
    color: white;
}
.half-width > div{
    width: 556px;
    height: 438px;
}
img{ 
    width: 100%;
}
.btn{
 width: 168px;
 background: #E02C6D;
 color: white;
 text-align: center;
 line-height: 24px;
 font-size: 16px;
 padding: 10px 24px;
 border: 1px solid white;
}
.btn:hover{
    background: aqua;
    transition: 1s ease-out;
}


 /* players  */
h2{
    font-size: 28px;
    padding: 16px 0;
}
p{
    font-size: 16px;
    padding: 0 15px 10px 0px;
    line-height: 28px;
}
.players-section{
    display: flex;
    justify-content: center;
}
.players_container{
    margin: 70px 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    max-width: 1050px;
    background: rgb(245, 244, 244);
    grid-column: auto;
}
.player{
    box-shadow: 1px 1px 10px gray;
   padding: 15px; 
   background: white;
}



 /* club  */
h3{
    font-size: 56px;
    padding-bottom: 15px;;
}
.club{
    
 display: flex;
 justify-content: center;
 align-items: center;
}
.cLub_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow:1px 1px 10px gray;
    text-align: center;
    margin: 0 auto;
    padding: 5% 5%;
}
.cLub_container p{
    padding-bottom: 15px;;
}
button{
    border: none;
   border-radius: 5px;
   align-items: center;
}



 /* Schedule  */

h4{
    font-size: 24px;
}
.schedule_section{
  margin: 150px 50px;
  text-align: center;
}
.schedule_section h1{
    font-size: 56px;
}
.schedule_info{
padding-left: 24px;
}
.schedule_info p{
 line-height: 10px;
}
.schedule_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    width: 60%;
    margin: 0 auto;
}
.schedule{
    display: flex;
    padding: 15px 15px;
    border: 1px solid #e7e7e8;
}
.schedule_img{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    padding-right: 15px;
}
.schedule_img img{
    height: 100%;
}



/*Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 53px;
}
.footer_img{
    max-width: 483.87px;
}
.social_icon{
    font-size: 24px;
    padding: 0 14px;
}
.social_icon i{
    border-radius: 50%;
    background: #e7e7e8;
    color: #969bab;
    padding: 8px;
    margin-bottom: 20px;
}
footer p{
    font-size: 18px;
}




/*Tab responsive*/
@media only screen and (max-device-width: 1024px) {

    /*Top-banner responsive*/
        h1{
            font-size: 36px;
            line-height: 50px;
            margin: 10px 0 30px 0;
        }
        .container{
            padding: 0 32px;
          
        }
        .half-width{
            width: 100%;
        }
        .half-width > div{
            width: 330px;
            height: 260px;;
            padding: 50px 0 60px 0;
        }
    
     /*plaayers responsive*/
        .players_container{
            grid-template-columns: repeat(2,1fr);
        }
        .players_container{
            margin: 47px 15px 15px 15px;
            width: 100%;
        }
    
    /*club responsive*/
        .club{
            margin: 0 20px;
        }
        .cLub_container{
            width: 100%;
            margin: 50px 20px;
            padding: 20px;  
        }
        .cLub_container h3{
            font-size: 36px;
        }
    
    /*schedule responsive*/
         .schedule_section{
             margin: 50px 20px;
        }
        .schedule_section h1{
            font-size: 36px;
        }
        .schedule_container{
            grid-template-columns: repeat(2,1fr);
            width: 100%; 
        }
    
    /* footer responsive */
        .footer_img{
            width: 75%;
        }
    }
    

/*Mobile responsive*/
@media only screen and (max-device-width: 668px) {

/*Top-banner responsive*/
    h1{
        font-size: 36px ;
        line-height: 50px ;
        margin: 50px 0 30px 0;
    }
    .container{
        flex-direction: column;
        padding: 0 16px;
        justify-content:flex-start;
    }
    .half-width{
        width: 100%;
    }
    .half-width > div{
        width: 330px;
        height: 260px;;
        padding: 50px 0 60px 0;
    }

 /*plaayers responsive*/
    .players_container{
        grid-template-columns: 1fr;
    }
    .players_container{
        margin: 47px 15px 15px 15px;
        width: 100%;
    }

/*club responsive*/
    .club{
        margin: 0 20px;
    }
    .cLub_container{
        width: 100%;
        margin: 50px 20px;
        padding: 20px;  
    }
    .cLub_container h3{
        font-size: 36px;
    }

/*schedule responsive*/
     .schedule_section{
         margin: 50px 20px;
    }
    .schedule_section h1{
        font-size: 36px;
    }
    .schedule_container{
        grid-template-columns: 1fr;
        width: 100%; 
    }

/* footer responsive */
    .footer_img{
        width: 75%;
    }
}





